<div
	class='border border-solid border-ios flex flex-col p-2 rounded-md max-w-[300px]'
>
	<span>id: {{id}}</span>
	<span class='text-lg'>{{name}}</span>
	<span class='text-lg'>price: {{price}}</span>
	<span class='text-lg'>description: {{description}}</span>
</div>