<div
	class='shadow-ios flex flex-col gap-0.5 px-4 py-2 rounded-md max-w-[300px] bg-white/10 backdrop-blur-[5px] dark:bg-sidebar/10'
>
	<span>id: {{id}}</span>
	<span class='text-lg'>{{name}}</span>
	<span class='text-lg'>price: {{price}}</span>
	<span class='text-lg'>description: {{description}}</span>
</div>