@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/** Colors **/
	--color-primary: #b297dd;
	--color-secondary: #181a1c;
	--color-sidebar: #242424;

	/** Fonts **/
	--font-poppins: 'Poppins', sans-serif;

	/** breakpoints **/
	--breakpoint-xs: 340px;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	--breakpoint-3xl: 1600px;

	/** radius **/
	--radius-main: 12px;
	--radius-lg: 20px;
}

body {
	@apply overflow-hidden;
}

#app {
	@apply min-h-screen grid grid-cols-[324px_1fr] grid-rows-[74px_1fr] gap-0 bg-gradient-to-tr from-[#401e71] via-[#d76d77] to-[#fbab7b] font-poppins overflow-hidden text-white bg-white bg-no-repeat bg-cover bg-fixed dark:bg-black dark:bg-radial-[at_50%_90%] dark:from-[#8220cd]/55 dark:via-secondary dark:to-black;
}

.shiki {
	@apply p-4 overflow-auto w-full h-full max-w-full max-h-full;
}
