@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
	/** Colors **/
	--color-primary: #b297dd;
	--color-secondary: #181a1c;

	/** Fonts **/
	--font-poppins: 'Poppins', sans-serif;
}

#app {
	@apply min-h-screen text-white bg-gradient-to-tr from-[#401e71] via-[#d76d77] to-[#fbab7b] flex flex-col items-center justify-center font-poppins bg-no-repeat bg-cover bg-fixed;
}
